<%- layout('../layouts/layout1.ejs') %> 

<h2 style="text-align: center; margin-top: 50px;">Add Post</h2>
<div style="border: 1px solid black; padding: 10px; display: flex; flex-direction: column; align-items:center; width:25%; margin-left: 37%;">
    <form method="post" action="/addpost">
        <div style="margin-bottom: 10px;">
            <label for="topic">Topic:</label>
            <input style="display: block;" type="text" id="topic" name="topic" required>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="category">category:</label>
            <input style="display: block;" type="text" id="category" name="category" required>
        </div>
        <div style="margin-bottom: 10px;">
            <label for="Content">Content:</label>
            <textarea style="display: block;" id="Content" rows="4" cols="50" name="content" required></textarea>
        </div>
        <button role="submit">Submit</button>
    </form>
</div>
