<%- layout('layout.ejs') %>



<div class="container mt-5 p-5">
  <div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogpost/Comments">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
    </ul>
  </div>
  <div class="row">
  <div class="col-8">
  <div class="m-3">
   <span style="font-size: x-large;"> Heading</span>
  </div>
  <div class="m-3">
    Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum, animi obcaecati praesentium rerum cupiditate voluptates, et quia modi ex tenetur iusto blanditiis voluptate, ea dolores. Nesciunt itaque rerum dignissimos placeat?Lorem ipsum dolor sit amet consectetur adipisicing elit. Rerum quae culpa quam laudantium numquam, facilis facere maxime sunt deserunt, voluptatibus sed ut esse, consequuntur nesciunt odit minima dolorem rem ipsam.
  </div>
  <div class="m-3">
    info
  </div>
  <div class="m-3">
    likes dislikes
  </div>
  </div>
  <div class="col-4">
   <div class="mt-4">
     Likes:31
   </div>
   <div>
     dislikes:32
   </div>
   <hr class="mb-1 mt-1">
   <div>
     Rate this Post
   </div>
   <div>
     <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
     <i class="fa fa-star"></i>
   </div>
   <hr class="mb-2 mt-2">
   <div>
     <div>
       Download this Post
     </div>
     <div>
       Suggestions
     </div>
   </div>
  </div>
  </div>
</div>

