<%- layout('layout.ejs') %>

<div class="container p-4">
    <div>
        <ul class="nav nav-tabs">
          <li class="nav-item">
            <a class="nav-link active" href="#">Blog</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/blogpost/Comments">Comments</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Edit</a>
          </li>
        </ul>
      </div>
    <div class="m-5">
    <form style="width:60%">
        <div class="m-2">
            <input style="width: 60%;" class="username form-control" type="text" placeholder="username">
        </div>
        <div class="m-2">
            <textarea class="form-control content" placeholder="enter your comments here"></textarea>
        </div>
        <div class="m-2">
            <button class="btn btn-primary post">Post</button>
        </div>
    </form>
    </div>  
    <hr>
    <div class="comment-section">

    </div>  
</div>
<script>
    document.querySelector(".post").addEventListener('click',(e)=>
    {
        console.log("hello");
       e.preventDefault();
       div1=document.createElement('div')
       div2=document.createElement('div')
       div3=document.createElement('div')
       username=document.querySelector('.username').value
       div1.innerHTML="<span class='text-secondary'>"+username+ "</span>" + "<small><span class='ml-3 text-muted'>posted 3 days ago<span></small>";
       div2.innerText=document.querySelector('.content').value;
       div1.classList.add("mb-2")
       div3.appendChild(div1)
       div3.appendChild(div2)

       div3.classList.add("m-2")
       div3.classList.add("p-3")
       div3.classList.add("ml-5")
       div3.classList.add("border")
       div3.classList.add("rounded")
       document.querySelector('.comment-section').appendChild(div3);
    })
</script>


