<%- layout('layout.ejs') %>
<div style="height: 50%; background-image: url('/images/blg.png');" >
  
</div>
<div class="container" style="margin-top: -2.8%;">
<div class="row">
<div class="col-8 m-auto pt-1"  style="background-color: #FAF9F6;">
  <div class="mb-3">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" href="#">Blog</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blogpost/Comments">Comments</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Edit</a>
      </li>
    </ul>
  </div>
 <div>
 <div class="row">
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
 </div>
 <div class="row">
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top  img-fluid" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top  img-fluid" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top  img-fluid" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
 </div>
 <div class="row">
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top  img-fluid" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
  <div class="col-4 p-3 pb-0">
    <div class="card">
      <img src="/images/random.jpg" class="card-img-top  img-fluid" alt="...">
      <div class="d-flex flex-column align-items-center card-body">
        <h5 class="card-title">Category</h5>
        <p class="card-text">Heading</p>
        <a href="#" class="btn-sm btn-primary">View</a>
      </div>
    </div>
  </div>
 </div>
 </div>
</div>
</div>
</div>