<h2 style="text-align: center; margin-top: 40px;">Welcome to Our Blog Website</h2>

<div style="padding:10px; width: 25%; margin-top: 10%; margin-left: 37%; border: 1px solid black; display: flex; flex-direction: column; align-items: center;">
    <div style="margin-bottom: 50px;">
      New User:<a href="/register">Register</a>
    </div>
    <div>
      Already Registerd:<a href="/login">Login</a>
    </div>
</div>
