<%- layout('layout.ejs') %>
<style>
  .fa {
  padding: 20px;
  font-size: 30px;
  height:50px;
  width: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}

.fa:hover {
  opacity: 0.7;
}


.fa-facebook {
  background: #3B5998;
  color: white;
}

.fa-instagram
 {
  background: #8a3ab9;
  color:white;
 }

.fa-twitter {
  background: #55ACEE;
  color: white;
}
</style>
<div class="container  mt-5">
    <div class="row">
        <div class="col-8">
            <div class="card mb-4">
                <div class="row">
                    <img class="card-img-top col-4" src="/images/reg.jpg" alt="Card image cap">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="row">
                    <img class="card-img-top col-4" src="/images/reg.jpg" alt="Card image cap">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                    </div>
                </div>
            </div>
            <div class="card mb-4">
                <div class="row">
                    <img class="card-img-top col-4" src="/images/reg.jpg" alt="Card image cap">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                    </div>
                </div>
            </div>

            <div class="card mb-4">
                <div class="row">
                    <img class="card-img-top col-4" src="/images/reg.jpg" alt="Card image cap">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                    </div>
                </div>
            </div><div class="card mb-4">
                <div class="row">
                    <img class="card-img-top col-4" src="/images/reg.jpg" alt="Card image cap">
                    <div class="col-8">
                        <div class="card-body">
                            <h5 class="card-title">Card title</h5>
                            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          </div>
                          
                          <div class="card-body">
                            <a href="#" class="card-link">Card link</a>
                            <a href="#" class="card-link">Another link</a>
                          </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 ">
            <div class="card">
                <div class="card-header">
                 Join us on
                </div>
                <div class="card-body d-flex justify-content-around">
                  <i class="fa fa-twitter rounded"></i>
                  <i class="fa fa-facebook rounded"></i>
                  <i class="fa fa-instagram rounded"></i>
                </div>
              </div>
        </div>
    </div>
</div>