<%- layout('layout.ejs') %>

<div class="container p-4">
    <div class="row">
    <div class="col-3">
    <div class="m-4 mt-5 rounded">
    <img src="/images/avatar.jpg" class="img-fluid" style="width: 50%;">
    </div>
    <div class="m-4">
        Arpit Singhal
        <div>
            @singhalarpit160
        </div>
    </div>
    
    <div class="m-2 ml-4">
        india
    </div>
    <div class="m-2 ml-4">
        facebook
    </div>
    <hr>
    </div>
    <div class="col-8">
    <div class="m-5 ml-3 border rounded shadow-lg p-3  ">
        <div>
            Skills
        </div>
        <hr>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, unde voluptate reiciendis, dolores corrupti nobis voluptatum nesciunt aspernatur expedita numquam doloremque? Provident harum saepe quos veritatis pariatur totam mollitia atque?
        </div>
    </div>
    <div class="m-5 ml-3 border rounded shadow-lg p-3 ">
        <div>
            Skills
        </div>
        <hr>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, unde voluptate reiciendis, dolores corrupti nobis voluptatum nesciunt aspernatur expedita numquam doloremque? Provident harum saepe quos veritatis pariatur totam mollitia atque?
        </div>
    </div>
    <div class="m-5 ml-3 border rounded shadow-lg p-3 ">
        <div>
            Skills
        </div>
        <hr>
        <div>
            Lorem ipsum, dolor sit amet consectetur adipisicing elit. Temporibus, unde voluptate reiciendis, dolores corrupti nobis voluptatum nesciunt aspernatur expedita numquam doloremque? Provident harum saepe quos veritatis pariatur totam mollitia atque?
        </div>
    </div>
    </div>
    </div>
</div>
